extends layout 
 
block content 
  h1= title 
 
  form(id='icecreamForm', action="/resource/icecreams", method="POST") 
    div.form-group 
        label.icecreamAttr(for='Flavour') icecream type 
        input#icecream_type(type='text', name='Flavour') 
    div.form-group 
        label.icecreamAttr(for='liters') icecream liters 
        input#liters(type='number', name='liters') 
    div.form-group 
        label.icecreamAttr(for='price') icecream price 
        input#price(type='number', name='price') 
    div.form-group 
        label.icecreamAttr(for='quantity') icecream quantity 
        input#size(type='number', name='quantity',value=quantity  min=2, max=5)
    
    input(type="submit")

  script. 
    document.forms['icecreamForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) 
      }).then((resp) => { 
        return resp.text(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    }); 